body{
  font-size: 12px;
  font-family: "dotum", "돋움", "Helvetica","AppleSDGothicNeoR", "sans-serif";
}
#header div{
  float: left;
}
.logo img{
  width: 200px;
  height: 52px;
  margin-top: 2px;
}
.box_search input{
  width: 440px;
  height: 44px;
  margin-top: 10px;
  margin-left: 30px;
  padding: 0 10px 0 10px;
  font-size: 16px;
  border: 2px solid #5ecb6b;
}
.box_search input:focus{
  outline: none;
}
