body{
  font-size: 12px;
  font-family: "dotum", "돋움", "Helvetica","AppleSDGothicNeoR", "sans-serif";
  margin: 0;
  padding: 0;
}
div{
  display: block;
}
#header{
  margin-top: 20px;
}
.logo img{
  float: left;
  width: 200px;
  height: 52px;
  margin-right: 30px;
}
.box_search{
}
.box_search input{
  width: 440px;
  height: 44px;
  padding: 0 10px 0 10px;
  margin-top: 6px;
  font-size: 16px;
  border: 2px solid #5ecb6b;
  border-radius: 0;
}
.box_search input:focus{
  outline: none;
}
.box_search button{
  position: absolute;
  width: 48px;
  height: 48px;
  border: 0;
  margin-top: 6px;
  background-color: #5ecb6b;
}
.box_search .btn_search .ico_search img{
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 22px;
  height: 22px;
}
.nav{
  position: relative;
  width: 100%;
  height: 48px;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #c6c6c6;
  margin:40px 0 0 0;
  padding: 0;
}
.nav ul{
  margin: 14px 0 14px 20px;
  padding: 0;
}
.nav ul li{
  float: left;
  display: block;
  list-style: none;
  font-size: 16px;
  font-weight: 900;
  margin-right: 20px;
}
.nav .nav_point a{
  text-decoration: none;
  color: #5ecb6b;
}
.nav .nav_normal a{
  text-decoration: none;
  color: black;
}
.nav .nav_bar{
  float: left;
  margin:1px 20px 0 0;
  width: 1px;
  height: 16px;
  background: #e5e5e5;
}
.nav .blind{
  font-size: 16px;
  font-weight: bold;
}
.nav .blind a{
  text-decoration: none;
  color: black;
}
.container_all {
  position: relative;
  width: 100%;
  height: 1000px;
  background: #f3f5f7;
}
.container{
  margin: 0 auto;
  padding: 8px 10px 0;
  width: 1080px;
  text-align: left;
}
.container::after{
  display: table;
  table-layout: fixed;
}

.container .column_left{
  margin: 0;
  padding: 0;
  width: 740px;
  float: left;
}
#container_top{
  width: 740px;
  height: 120px;
  border: 1px solid #dee3ed;
  margin-bottom: 8px;
}
.newscast_top{
  display: block;
  float: left;
  width: 100%;
  height: 44px;
  border: 1px solid #dee3ed;
  background: #fff;
  margin: 0 0 8px 0;
}
.newscast_top .newscast_news{
  float: left;
  margin: 15px;
}
.newscast_top .newscast_news h3{
  margin: 0;
  padding: 0;
}
.newscast_top ul{
  margin: 15px 0 0 520px;
  padding: 0;
}
.newscast_top ul li{
  display: block;
  float: left;
  list-style: none;
  font-size: 14px;
  font-weight: 900;
  margin-right: 10px;
}
.newscast_top ul li a{
  text-decoration: none;
  color: #666;
}
.newscast_link .link_point{
  color: #5ecb6b;
}
.newsstand{
  display: block;
  float: left;
  width: 100%;
  border: 1px solid #dee3ed;
  background: #fff;
}
.stand_menu{
  width: 100%;
  height: 44px;
  border-bottom: 1px solid #dee3ed;
}
.stand_menu div{
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
.stand_menu div a{
  text-decoration: none;
}
.stand_menu .stand_menu_title{
  margin: 15px 10px 15px 15px;
}
.stand_menu a{
  font-size: 14px;
  color: #000;
  font-weight: 900;
}
.stand_menu .stand_menu_subtitle{
  margin: 15px 10px 15px 0;
}
.stand_menu .stand_menu_bar{
  margin: 15px 15px 15px 0;
  width: 1px;
  height: 15px;
  background: #e5e5e5;
}
.stand_menu .stand_menu_mynews{
  margin: 15px 15px 15px 0;
}
.stand_menu .stand_menu_mynews a{
  color: #666;
}
.stand_menu .stand_btn{
  position: relative;
  left: 268px;
}
.stand_menu .stand_paging{
  position: relative;
  left: 268px;;
  margin: 0;
}
.stand_menu .stand_paging a{
  display: block;
  float: left;
  width: 44px;
  height: 44px;
  border-left: 1px solid #f3f5f7;
}
.stand_btn a{
  display: block;
  float: left;
  width: 32px;
  height: 44px;
  margin: 0 10px 0 0;
}
.stand_panel{
  margin: 0;
  padding: 0;
  width: 740px;
  height: 203px;
  overflow: hidden;
}
.stand_panel ul{
  list-style: none;
  margin: 0 0 0 2px;
  padding: 0;
}
.stand_panel ul li{
  display: block;
  float: left;
  width: 122px;
  height: 67px;
  border-right: 1px solid #f1f3f6;
  border-bottom: 1px solid #f1f3f6;
}
.stand_panel ul li a{
  display: block;
  text-align: center;
}
.stand_panel ul li img{
  position: relative;
  padding: 21px 0 22px 0;
  max-width: 122px;
  max-height: 24px;
}
.column_right{
  position: relative;
  float: right;
  width: 332px;
}
.section_login{
  position: relative;
  height: 120px;
  border: 1px solid #dee3ed;
  background: #fff;
}
.section_login .lg_local{
  padding: 15px 25px;
  text-align: left;
}
.lg_local .lg_locla_text{
  color: #888;
  font-size: 12px;
  margin: 0;
}
.lg_local .lg_btn_login{
  display: block;
  margin: 12px 0 0 0;
  width: 280px;
  height: 37px;
  background: #5ecb6b;
  border-radius: 2px;
  text-decoration: none;
}
.lg_local .lg_btn_login .lg_btn_login_text{
  display: block;
  padding: 10px 0 11px 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
.lg_link{
  display: block;
  width: 280px;
  height: 38px;
  padding: 0 25px 0 25px;
  overflow: hidden;
}
.lg_link a{
  text-decoration: none;
  font-size: 12px;
  color: #888;
}
.lg_link_join{
  display: block;
  float: right;
}
.section_timesquare{
  position: relative;
  height: 142px;
  border: 1px solid #dee3ed;
  background: #fff;
  margin: 8px 0 0 0;
}
.timesquare_head{
  display: block;
  height: 33px;
  padding: 0 0 0 15px;
  border-bottom: 1px solid #f1f3f6;
}
.timesquare_head a,img{
  display: block;
  float: left;
  text-decoration: none;
}
.timesquare_head .area_head{
  display: inline-block;
  max-width: 208px;
  width: 208px;
  height: 17px;
  padding: 9px 0 7px 0;
  margin: 0;
}
.timesquare_head .area_head .hi_date{
  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding: 0 5px 0 0;
}
.timesquare_head .area_head .hi_bar{
  display: block;
  float: right;
  width: 1px;
  height: 16px;
  background: #f3f5f7;
  margin: 0 0 0 5px;
}
.timesquare_head .area_head .hi_title{
  display: block;
  font-size: 12px;
  color: #666;
  padding: 1px 0 0 0;
}
.timesquare_head .area_head_paging{
  position: absolute;
  top: 10px;
  right: 88px;
  color: #888;
  font-size: 12px;
}
.timesquare_head .area_btn{
  position: absolute;
  top: 0;
  right: 0;
  width: 78px;
}
.timesquare_head .area_btn a{
  display: block;
  width: 37px;
  height: 32px;
  border-left:  1px solid #f3f5f7;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.timesquare_contents{
  display: block;
  float: left;
  width: 298px;
  padding: 17px 16px 0 16px;
  margin: 0;
}
.timesquare_contents .hs_ct{
  display: block;
  margin: 0;
  padding: 3px 120px 0 0;
  list-style: none;
}
.timesquare_contents .hs_ct .hs_ct_list{
  margin: 0;
  padding: 0;
}
.timesquare_contents .hs_ct .hs_ct_list .hs_ct_item1{
  display: block;
  padding: 2px 0 0 0;
}
.timesquare_contents .hs_ct .hs_ct_list .hs_ct_item2{
  display: block;
  padding: 10px 0 0 0;
}
.timesquare_contents .hs_ct .hs_ct_list a{
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 12px;
}
.timesquare_contents .hs_ct .hs_ct_list .hs_ct_item_link .hs_ico_bullet{
  display: block;
  float: left;
  width: 2px;
  height: 2px;
  border-radius: 3px;
  background: #888;
  margin: 6px 4px 6px 0;
}
.timesquare_contents .hs_ct .hs_ct_img{
  position: absolute;
  display: block;
  top: 50px;
  right: 16px;
}
.section_add{
  position: absolute;
  width: 330px;
  height: 148px;
  right: 0;
  top: 285px;
  display: block;
  border: 1px solid #dee3ed;
}
.section_themecast{
  position: relative;
  float: left;
  width: 740px;
  height: 884px;
  border: 1px solid #dee3ed;
  background: #fff;
  margin: 8px 0 0 0;
  padding: 0;
}
.section_themecast .tc_category{
  overflow: hidden;
  height: 44px;
  border-bottom: 1px solid #dee3ed;
}
.section_themecast .tc_category .tc_category_list{
  display: block;
  list-style: none;
  position: absolute;
  width: 588px;
  height: 20px;
  top: 0;
  left: 45px;
  margin: 0;
  padding: 10px 0 11px 17px;
  overflow: hidden;
}
.section_themecast .tc_category .tc_category_list .tc_category_list_item{
  display: block;
  float: left;
  font-size: 14px;
  padding: 4px 16.9px 6px 0;
}
.section_themecast .tc_category .tc_category_list .tc_category_list_item a{
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.tc_category_list_btn{
  position: relative;
}
.tc_category_list_btn .tc_category_ico1{
  display: block;
  float: left;
  width: 44px;
  height: 44px;
  border-right: 1px solid #dee3ed;
}
.tc_category_list_btn_paging{
  position: absolute;
  top: 0;
  right: 0;
}
.tc_category_list_btn .tc_category_ico2{
  display: block;
  float: left;
  width: 44px;
  height: 44px;
  border-left: 1px solid #dee3ed;
}
.section_themecast .tc_pannel{
  display: block;
}
.section_themecast .tc_pannel .section_tc_pannel{
  position: relative;
  padding: 18px 2px 3px 16px;
  margin: 0;
}
.section_themecast .tc_pannel .section_tc_pannel .tp_title{
  position: relative;
  float: left;
  margin-right: 14px;
  margin-bottom: 19px;
  padding: 23px 6px 0 18px;
  width: 142px;
  height: 162px;
  background-color: #829c00;
  list-style: none;
}
.tp_title .tp_subtitle{
  position: relative;
  height: 20px;
  float: left;
  font-size: 20px;
  color: #fff;
  padding: 0;
  margin: 0;
}
.tp_title .tp_title_bar{
  position: relative;
  display: block;
  width: 13px;
  height: 2px;
  margin: 37px 0 13px 0;
  background-color: #fff;
  opacity: 50%;
}
.tp_title .tp_sub_section{
  list-style: none;
  margin: 0;
  padding: 0;
}
.tp_title .tp_sub_section .tp_submenu{
  float: left;
  padding-top: 4px;
  width: 71px;
  color: #fff;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tp_title .tp_sub_section .tp_submenu a{
  text-decoration: none;
  color: #fff;
}
.tp_con_big{
  position: relative;
  float: left;
  margin-right: 14px;
  margin-bottom: 19px;
  width: 346px;
  height: 185px;
  list-style: none;
}
.tp_con_big .tp_con_big_add{
  display: block;
}
.tp_con_big .tp_con_big_add .tp_con_add_img{
  display: block;
  width: 346px;
  height: 185px;
}
.tp_con_big .tp_con_big_title{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tp_con_big .tp_con_big_title .tp_con_big_bg{
  display: block;
  height: 50px;
  background-color: #000;
  opacity: 0.3;
  padding: 0 14px;
}
.tp_con_big .tp_con_big_title .tp_con_big_text{
  overflow: hidden;
  padding-top: 1px;
}
.tp_con_big .tp_con_big_title .tp_con_big_text a{
  display: block;
  font-size: 12px;
  text-decoration:none;
}
.tp_con_big .tp_con_big_title .tp_con_big_text .tp_big_text_clk1{
  position: absolute;
  top: 10px;
  left: 14px;
  color: #fff;
  opacity: 0.8;
  line-height: 16px;
  vertical-align: top;
}
.tp_con_big .tp_con_big_title .tp_con_big_text .tp_big_text_clk2{
  position: absolute;
  left: 14px;
  bottom: 10px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tp_con_nor{
  position: relative;
  float: left;
  margin-right: 14px;
  margin-bottom: 19px;
  width: 166px;
  height: 185px;
  list-style: none;
}
.tp_con_nor .tp_con_nor_link{
  display: block;
  overflow: hidden;
}
.tp_con_nor .tp_con_nor_link img{
  display: block;
  width: 166px;
  height: 108px;
}
.tp_con_nor .tp_con_nor_title{
  display: block;
  margin: 0;
  padding-top: 8px;
  padding-right: 2px;
}
.tp_con_nor .tp_con_nor_title .tp_text_clk{
  font-size: 12px;
  line-height: 18px;
  color: #000;
  text-decoration: none;
}
.tp_con_nor .tp_con_nor_o .tp_o{
  display: block;
  float: left;
  font-size: 12px;
  padding-top: 4px;
  color: #888;
}
.tp_con_nor .tp_con_nor_o .tp_bar{
  display: block;
  float: left;
  width: 1px;
  height: 12px;
  background-color: #dee3ed;
  margin: 5px 5px;
}
.section_tc_pannel_sub{
  position: relative;
  float: left;
  margin-bottom: 19px;
  width: 706px;
  height: 185px;
}
.section_tc_pannel_sub .tc_pannel_subtitle{
  overflow: hidden;
  min-height: 16px;
  color: #222;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}
.section_tc_pannel_sub .tp_sub_list{
  list-style: none;
  margin: 0;
  padding-top: 11px;
  padding-left: 0;
}
.section_tc_pannel_sub .tp_sub_con{
  overflow-y: hidden;
  display: block;
  float: left;
  width: 339px;
  height: 80px;
  padding-bottom: 10px;
  padding-right: 14px;
}
.section_tc_pannel_sub .tp_sub_con .tp_sub_con_link{
  position: relative;
  display: block;
  float: left;
  width: 115px;
  height: 70px;
}
.section_tc_pannel_sub .tp_sub_con .tp_sub_con_link .tp_sub_con_img{
  width: 115px;
  height: 70px;
}
.section_tc_pannel_sub .tp_sub_con .tp_sub_con_text{
  display: inline-block;
  float: left;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 11px;
  width: 213px;
  overflow: hidden;
}
.section_tc_pannel_sub .tp_sub_con .tp_sub_con_text .tp_sub_con_title .tp_subtext_clk{
  display: block;;
  overflow: hidden;
  max-height: 36px;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  color: #000;
}
.section_tc_pannel_sub .tp_sub_con .tp_sub_con_text .tp_sub_o{
  display: block;
  overflow: hidden;
  padding-top: 4px;
  color: #888;
  font-size: 12px;
  line-height: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.section_shoppingcast{
  position: relative;
  float: right;
  width: 330px;
  height: 884px;
  border: 1px solid #dee3ed;
  background: #fff;
  margin-top: 8px;
}
.section_shoppingcast .shop_head{
  position: relative;
  height: 44px;
  border-bottom: 1px solid #dee3ed;
}
.section_shoppingcast .shop_head h1{
  display: inline-block;
  padding: 13px 16px;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.section_shoppingcast .shop_head .shop_menu{
  position: absolute;
  top: 0;
  right: 0;
  list-style: none;
  margin: 0;
}
.section_shoppingcast .shop_head .shop_menu .shop_menu_item{
  position: relative;
  float: left;
  margin-right: 12px;
}
.section_shoppingcast .shop_head .shop_menu .shop_menu_item .shop_menu_clk{
  display: block;
  padding: 13px 7px 0;
  height: 32px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #888;
}
.section_shoppingcast .shop_mall{
  overflow: hidden;
  margin: 0 16px;
  padding: 11px 0 9px;
  height: 40px;
  border-bottom: 1px solid #dee3ed;
  font-size: 12px;
  line-height: 20px;
}
.section_shoppingcast .shop_mall ul{
  position: relative;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
.section_shoppingcast .shop_mall ul .shop_malllist_item{
  display: block;
  float: left;
}
.section_shoppingcast .shop_mall ul .shop_malllist_item .shop_mallist_clk{
  position: relative;
  float: left;
  font-size: 12px;
  color: #888;
  text-decoration: none;
}
.section_shoppingcast .shop_mall .shop_malllist1 .shop_malllist_item .shop_ico_bullet{
  position: relative;
  float: left;
  display: block;
  width: 2px;
  height: 2px;
  border-radius: 10px;
  margin: 8px 7px;
  background-color: #ccc;
}
.section_shoppingcast .shop_mall .shop_malllist1,.shop_malllist2{
  text-align: justify;
  white-space: nowrap;
}
.section_shoppingcast .shop_mall .shop_malllist2 .shop_malllist_item .shop_ico_bullet{
  position: relative;
  float: left;
  display: block;
  width: 2px;
  height: 2px;
  border-radius: 10px;
  margin: 8px 3px;
  background-color: #ccc;
}
.shop_contents .shop_page{
  position: relative;
  color: #888;
  font-size: 11px;
  line-height: 25px;
}
.shop_contents .shop_page em{
  position: absolute;
  top: 8px;
  right: 76px;
  font-style: normal;
}
.shop_contents .shop_page em strong{
  color: #333;
  font-weight: bold;
}
.shop_contents .shop_page .shop_page_btn{
  position: absolute;
  top: 8px;
  right: 16px;
}
.shop_contents .shop_page .shop_page_btn a{
  display: block;
  float: left;
  width: 14px;
  height: 18px;
  padding: 5px 0 0 9px;
  border: 1px solid #e3e7ee;
  background-color: #fff;
  cursor: pointer;
}
.shop_contents .product_list{
  position: relative;
  display: block;
  padding:43px 8px 0 16px;
  margin: 0;
  height: 522px;
  list-style: none;
}
.shop_contents .product_list .product_item{
  position: relative;
  float: left;
  margin-right: 8px;
  width: 94px;
}
.shop_contents .product_list .product_item .product_item_clk{
  display: block;
}
.shop_contents .product_list .product_item .product_item_clk .product_item_img{
  width: 94px;
  height: 117px;
  overflow: hidden;
}
.shop_contents .product_list .product_item .product_item_text{
  display: block;
  float: left;
  padding-top: 8px;
  margin: 0;
  height: 49px;
  text-align: center;
  overflow: hidden;
}
.shop_contents product_list .product_item .product_item_text span{
  font-size: 12px;
  line-height: 16px;
  color: #888;
}
.shop_adbanner{
  position: relative;
  padding-right: 16px;
  padding-left: 16px;
  border-top: 1px solid #f1f3f6;
}
.shop_adbanner .shop_adbanner_head{
  display: block;
  padding-top: 17px;
  height: 29px;
  margin: 0;
}
.shop_adbanner .shop_adbanner_head .shop_adbanner_title{
  position: relative;
  padding-left: 9px;
  color: #000;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
}
.shop_adbanner .shop_adbanner_head .shop_adbanner_title .shop_adbanner_bar{
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -7px;
  width: 3px;
  height: 12px;
  background: #9891e5;
}
.shop_adbanner .shop_adbanner_head .shop_adbanner_btn{
  position: absolute;
  top: 12px;
  right: 16px;
  width: 25px;
  height: 25px;
  border: 1px solid #dee3ed;
}
.shop_adbanner .shop_adbanner_list{
  margin: 0;
  padding: 2px 0 0 0;
  list-style: none;
}
.shop_adbanner .shop_adbanner_list .shop_adbanner_item:first-child{
  padding-top: 0px;
}
.shop_adbanner .shop_adbanner_list .shop_adbanner_item{
  padding-top: 8px;
}
.shop_adbanner .shop_adbanner_list .shop_adbanner_item .shop_adbanner_clk{
  display: block;
  overflow: hidden;
  width: 100%;
  color: #444;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: -1px;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
}
.shop_adbanner .shop_adbanner_list .shop_adbanner_item .shop_adbanner_clk .shop_adbanner_brand{
  font-style: normal;
  padding-right: 14px;
  color: #8974d7;
}
.shop_adbanner .shop_adbanner_list .shop_adbanner_item .shop_adbanner_clk .shop_adbanner_text1{
  color: #888;
}
.shop_adbanner .shop_adbanner_list .shop_adbanner_item .shop_adbanner_clk .shop_adbanner_text2{
  color: #00ab33;
}